:root {
    --dark-purple: #672280;
    --light-purple: #A626D3;
    --black: #0D0D0D;
}

body {
    font-family:'Karla', sans-serif;
    color: var(--black);
    font-weight: 400;
    margin: 0;
}

/*
    HEADER
*/

.header {
    background: linear-gradient(to right, var(--dark-purple), var(--light-purple));
    width: 100%;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header--headline {
    font-weight: 700;
    font-size: 1.3rem;
    padding-left: 1em;
    letter-spacing: -.75px;
}

.header--subhead {
    font-size: 0.75rem;
    font-weight: 400;
    margin: 0;
    padding-right: 1em;
}

/*
    FORM
*/

.meme--form {
    width: 50%;
    margin: 0 auto;

    display: grid;
    grid-template-areas: 
                        "form1 form2"
                        "button button";
}


.meme--form > input {
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

#memeFirst {
    margin-left: 0;
}

#memeSecond {
    margin-right: 0;
}

.meme--btn {
    padding: 0.5em 3em;
    margin-top: 1em;
    border: unset;
    background: linear-gradient(to right, var(--dark-purple), var(--light-purple));
    color: #fff;
    font-weight: 700;
    cursor: pointer;

    width: 100%;
    grid-area: button;
}

.meme--form > input,
.meme--btn {
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
}

.meme--div {
    margin: 2em auto;
    width: 50%;
    display: flex;
    justify-content: center;
}

.meme--img {
    max-height: 400px;
}